################################################################################
# macOS
################################################################################

.DS_Store
._*

################################################################################
# Python
################################################################################

__pycache__/
*.py[cod]
*$py.class

build/
dist/
site/
*.egg-info/
*.egg

.venv/
.env
.envrc

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage

################################################################################
# Lua
################################################################################

.luarc.json

################################################################################
# Project
################################################################################

vendors/
*.jkr

runs/*.jsonl
logs/
.antigravitycli
.agents/skills/review
